
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: bisque;
}

h1 {
    color: #d80707;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    margin-bottom: 50px;
}

.section {
    margin-bottom: 30px;
    margin-left: 40px;
}

.section label {
    font-weight: bold;
}

.color input, .template input {
    margin-right: 10px;
}
#string {
    width: 40%;
  height: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  background-color: rgb(242, 206, 238);
  
}
#submit {
    background-color: #3498db; /* Blue background color */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    margin-left: 40px;
}

#submit:hover {
    background-color: #2980b9; 
}

#submit:active {
    transform: scale(0.98); /* Slightly shrink the button on click */
}